<button class='js_classic' {{action "classicAction"}}>classic</button>
<button class='js_classic_with_params' {{action "classicActionWithParams"}}>classic with params</button>

<button class='js_closure' {{action "closureAction" on="click"}}>closure action</button>
<button class='js_closure_with_params' {{action "closureActionWithParams"}}>closure action with params</button>
<button class='js_closure_with_return' {{action "closureActionWithReturn"}}>closure action with return</button>
<span class='js_returned'>{{actionResult}}</span>
